# Idea
.idea/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/templates

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
