{% extends "TwentyfourAppBundle::layout.html.twig" %}

{% block title "Twentyfour" %}

{% block content %}
<div class="hero-unit">
    <h1>Twentyfour</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum elementum luctus. Nulla vel bibendum elit. Suspendisse quis dui at ligula tristique luctus. Ut eget purus ante, ut vulputate leo. Duis ut nisi enim. Integer enim justo, imperdiet eu sagittis ut, tempus vel lectus.</p>
</div>

<h2>Welcome!</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt mollis tincidunt. Nunc placerat, nibh vitae pulvinar imperdiet, est augue blandit nisl, eu auctor lectus elit at nisl. Curabitur pharetra porttitor ligula placerat malesuada. Sed vitae tellus diam, ut accumsan dui. In risus dui, gravida a vulputate nec, consectetur non metus. Aliquam eget eros lorem, vel dictum sapien. In hac habitasse platea dictumst. Praesent turpis lacus, porttitor molestie aliquet sit amet, mattis vel lectus. Praesent elementum sapien quis metus aliquam vitae blandit purus feugiat. Sed placerat nisi id nisl scelerisque egestas eleifend magna accumsan. Integer faucibus, elit id rutrum malesuada, nibh dolor commodo mauris, at pulvinar risus arcu quis lectus. Maecenas ut ante ut diam tempus euismod.</p>

<h3>Activities</h3>

<div id="twig-test">
    <img class="ajax-loader" src="{{ asset('bundles/twentyfourapp/images/ajax-loader-medium.gif') }}" />
</div>
{% endblock %}